table.events {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid config.$gray;
  .underline {
    text-decoration: underline;
    cursor: pointer;
    color: config.$light-gray;
  }
  th {
    font-weight: bold;
    font-size: config.$font-md;
    color: config.$body;
    word-break: break-all;
    border-bottom: 1px solid config.$gray;
  }

  td,
  th {
    padding: 1.25rem;
    text-align: left;
    font-weight: 300;
    color: config.$gray;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead tr {
      display: none;
    }

    td,
    th {
      padding: 0.5rem;
    }

    tr {
      border-bottom: 1px solid config.$gray;
    }

    td {
      border: none;
      position: relative;
      padding-left: 50%;
      word-break: break-all;
      &:before {
        position: absolute;
        top: 32%;
        left: 16px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
      }
    }
  }
}
