/**
|--------------------------------------------------
| spaxing
|--------------------------------------------------
*/
$spacing-xs: 0.25rem;
$spacing-sm: 0.625rem;
$spacing: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2.5rem;

/**
|--------------------------------------------------
| colors
|--------------------------------------------------
*/

$body: #425466;
$light: #f7f7f7;
$light-gray: #212121;
$body-bg: #fbfbfb;
$gray: #636363;
$error: #ee0a24;
$primary: #2563eb;
$primary-light: lighten($primary, 40%);
$primary-dark: #06318e;
$green: #45ffbc;
$success: #1ccd8c;
$olive: #e3ffa8;
$lite-gray: #bdbbb7;
$border: rgba(123, 127, 153, 0.2);

$primary-gradient: linear-gradient(
  270deg,
  #4f83f2 0%,
  #2563eb 50%,
  #06318e 100%
);

/**
|--------------------------------------------------
| font sizes
|--------------------------------------------------
*/

$font: 0.875rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.75rem;
$font-2xl: 2.75rem;
