@font-face {
  font-family: "Circular-Regular";
  src: url("../assets/fonts/CircularStd-book.otf");
}

@font-face {
  font-family: "Circular-Medium";
  src: url("../assets/fonts/CircularStd-medium.otf");
}

@font-face {
  font-family: "Circular-Bold";
  src: url("../assets/fonts/CircularStd-bold.otf");
}
